p{
    margin: 0;
}
/*HEADER*/
.header-section{
    padding-left: 98px;
    padding-right: 98px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 36px;
    background: #FDFDFB;
    padding-bottom: 37px;
}

.header-navigation__item{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #555248;
}

.header-navigation__item:not(:last-child){
    margin-right: 65px;
}

.header-personal-info__item:not(:last-child){
    margin-right: 23px;
}

/*HERO*/
.hero-section{
    display: flex;
    background-image: url(/img/hero_background.png);
    padding-left: 120px;
    padding-right: 118px;
    margin: 0;
    height: 776px;
}

.hero-section__heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-section__info{
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.hero-section__info__first{
    margin-right: 10px;
}

.hero-section__item:first-child{
    padding-top: 236px;
    margin-right: 55px;
}

.hero-section__line{
    display: inline-block;
    width: 50px;
    border-bottom: 1px solid #8B8371;
    margin-right: 15px;
}

.hero-section__title{
    display: inline;
    white-space: nowrap;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 60px;
    color: #1B1A17;
    margin-bottom: 16px;
}

.hero-section__subtitle{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #1B1A17;
    margin-bottom: 39px;
}

.hero-section__button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 26px 38px;
    border: none;
    background: #444240;
}

.hero-section__item:last-child{
    margin-right: 198px;
}

.hero-section__description{
    width: 258px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: rgba(27, 26, 23, 0.82);
    margin-bottom: 64px;
}

.hero-section__info{
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1B1A17;
}

.hero-section__info__first{
    margin-left: 7px;
}

.hero-section__first-info{
    transform: translateY(-223px);
}

.hero-section__second-info{
    transform: translateY(270px);
}

/*POPULAR*/
.section-popular{
    padding-left: 98px;
    padding-right: 98px;
    background: #FFFFFF;
    margin-bottom: 86px;
    margin-top: 76px;
}
.section-title__container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title{
    align-items: center;
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    color: #1B1A17;
    margin: 0;
}

.section-popular_description{
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #444240;
    padding-bottom: 11px;
    border-bottom: 1px solid #C4C0B6;
    margin: 0;
    margin-left: auto; 
    margin-right: 0;
    width: 104px;
    margin-bottom: 25px;
}

.section-popular__cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-popular__card__item{
    background-color: #FDFDFB;
    width: calc((100vw-196px-52px)/3);
    padding: 40px 28px;
}

.section-popular__card__item:not(:last-child){
    margin-right: 26px;
}

.section-popular__card__etc-text{
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #1B1A17;
}

.section-popular__card__title{
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(27, 26, 23, 0.82);
    margin: 0;
    margin-bottom: 10px;
}

.section-popular__card__price{
    font-family: 'Prata';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: rgba(27, 26, 23, 0.82);
    margin-right: 4px;
}
.section-popular__card__description{
    display: flex;
    align-items: center;
    margin: 0;
}

.section-popular__card__etc-line{
    display: inline-block;
    width: 30px;
    border: 1px solid #8B8371;
    margin-right: 18px;
}

.section-popular__card__etc{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 19px;
}

/*SLAIDER*/
.section-slaider{
    padding-top: 52px;
    padding-left: 177px;
    padding-right: 222px;
    padding-bottom: 20px;
    background: #FDFDFB;
}

.section-slaider__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-slaider__description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #444240;
    margin-top: 38px;
    margin-bottom: 45px;
}

.section-slaider__button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform:uppercase;
    color: #FFFFFF;
    padding: 26px 38px;
    background: #D4B098;
    border: none;
}

.section-slaider__img{
    margin-right: 70px;
}

.section-slaider__slaider{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.section-slaider__slaider-text{
    margin-left: 20px;
    margin-right: 20px;
}

/*FOLLOW*/

.following-section__description{
    width: 376px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px; 
    color: #444240;
    margin-top: 40px;
    margin-bottom: 120px;
}

.following-section{
    display: flex;
    padding: 81px 99px;
    align-items: center;
}

.following-section__item:first-child{
    margin-right: 81px;
}

.following-title{
    white-space: nowrap;
}

.following-section__item:last-child{
    display: flex;
}

.following-section__img-left-part{
    margin-right: 10px;
}

.following-section__first-photo{
    margin-bottom: 5px;
}

.following-section__contacts{
    display: flex;
}

.following-section__contacts-item:not(:last-child){
    margin-right: 18px;
}

/*FOOTER*/
.footer{
    display: flex;
    justify-content: space-between;
    background: #444240;
    padding: 67px 182px;
}

.footer__img{
    margin-bottom: 32px;
}

.footer__item{
    margin-right: 118px;
}

.footer__heading{
    margin-bottom: 33px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #FFFFFF;
    white-space: nowrap;
}

.footer__description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.75);
    white-space: nowrap;
}

.footer__description:not(:last-child){
    margin-bottom: 15px;
}
